.App-header {
    background-color: rgb(136, 29, 22);
    height: 100x;
    padding: 30px;
    color: whitesmoke;
  }
  
  .App-title {
    font-size: 2em;
    text-align: center;
  }
  
  .App-intro {
    font-size: large;
    text-align: center;
  }
image {
    object-fit: contain;
  }
